<div id="holder">
    <div class="pure-menu pure-menu-open gettingStartedMenu">
        <span class="pure-menu-heading">Getting Started</span>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#poolDetails" class="pure-menu-link">Pool Details</a></li>
            <li class="pure-menu-item"><a href="#payments" class="pure-menu-link">Payout Information</a></li>
            <li class="pure-menu-item"><a href="#createWallet" class="pure-menu-link">Create Wallet</a></li>
            <li class="pure-menu-item"><a href="#gpuMining" class="pure-menu-link">GPU Mining Software</a></li>
            <li class="pure-menu-item"><a href="#cpuMining" class="pure-menu-link">CPU Mining Software</a></li>
        </ul>
    </div>

    <div id="menu">
        {{? (function(){
                if (!it.portalConfig.switching) return false;
                for (var p in it.portalConfig.switching){
                    if (it.portalConfig.switching[p].enabled)
                        return true;
                }
                return false;
            })()
        }}
        <div class="menuHeader">Coin-Switching Ports</div>
        {{?}}

        <div class="menuList">
        {{ for (var p in it.portalConfig.switching){
            if (!it.portalConfig.switching[p].enabled) continue;
            var info = {
                algo: p,
                ports: {},
                host: it.portalConfig.website.stratumHost
            };
            info.ports[it.portalConfig.switching[p].port] = {diff: it.portalConfig.switching[p].diff};
            info = JSON.stringify(info).replace(/"/g, '&quot;');
        }}
            <a href="#" class="poolOption" data-info="{{=info}}">{{=p}}</a>
        {{ } }}
        </div>

        <div class="menuHeader" id="poolDetails">Miner Configuration</div>
        <div class="menuList" id="coinList">
            {{ if (it.portalConfig.gettingStartedPopups) { }}
                {{ for (var pool in it.poolsConfigs) {
                    var info = JSON.stringify({
                        coin: it.poolsConfigs[pool].coin,
                        algo: it.poolsConfigs[pool].coin.algorithm,
                        ports: it.poolsConfigs[pool].ports,
                        host: it.portalConfig.website.stratumHost
                    }).replace(/"/g, '&quot;');
                }}
                <a href="#" class="poolOption" data-info="{{=info}}">{{=pool}}</a>
                {{ } }}
            {{ } else { }}
                {{ for (var pool in it.poolsConfigs) { }}
                    {{if (String(pool) == 'pirate') { continue; } }}
                    <code>
                        <div class="coinInfoHeader"><span class="coinInfoName">{{=it.poolsConfigs[pool].coin.name}}</span> Configuration:</div>
                        <div class="coinInfoRows">
                            <div class="coinInfoRowKeys">
                                <div>Username:</div>
                                <div>Password:</div>
                                <div>Algorithm:</div>
                                {{ for (var port in it.poolsConfigs[pool].ports) { }}
                                    <div class="coinInfoData">{{= it.poolsConfigs[pool].ports[port].label ? it.poolsConfigs[pool].ports[port].label : 'URL'}} <span class="coinInfoSubtle">(diff {{=it.poolsConfigs[pool].ports[port].diff}})</span></div>
                                {{ } }}
                            </div>
                            <div class="coinInfoRowValues">
                                <div class="coinInfoUsername">
                                    {{ if (it.poolsConfigs[pool].coin && it.poolsConfigs[pool].coin.privateChain) { }}
                                        your {{=it.poolsConfigs[pool].coin.name}} <b style="color:#C99631;">zs1</b> sapling address<br>
                                       
                                    {{ } else if (it.poolsConfigs[pool].coin) { }}
                                        your {{=it.poolsConfigs[pool].coin.name}} wallet address
                                    {{ } else { }}
                                        your public key
                                    {{ } }}
                                </div>
                                <div>anything</div>
                                <div>{{=it.poolsConfigs[pool].coin.algorithm}}</div>
                                {{ for (var port in it.poolsConfigs[pool].ports) { }}
                                    <div class="coinInfoData">stratum+tcp://{{=it.portalConfig.website.stratumHost}}:{{=port}}</div>
                                {{ } }}
                            </div>
                        </div>
                    </code>
                {{ } }}

                <div class="content">
                    If you have multiple mining rigs you can add a label at the end of your username to see stats broken down by rig on the worker stats page.
                </div>
                <code style="word-break:break-all;">
                    <b><em>DSTM</em></b><br>
                    zm --server {{=it.portalConfig.website.stratumHost}} --port {{= Object.keys(it.poolsConfigs[Object.keys(it.poolsConfigs)[0]].ports)[0] }} --user zs1gfnu0j84arzuv4dauryyvys07m0p5vwd8grl4whz08y769jmzj7zar84hewngtgskce4vex4udc.<span style="text-decoration:underline; font-weight:900;">myrigname</span> --pass x -dev 0 1 --temp-target=0:70,1:70 --intensity=0:0.5,1:0.5 --color --time
                </code>
                <code style="word-break:break-all;">
                    <b><em>EWBF</em></b><br>
                    miner --server {{=it.portalConfig.website.stratumHost}} --user zs1gfnu0j84arzuv4dauryyvys07m0p5vwd8grl4whz08y769jmzj7zar84hewngtgskce4vex4udc.<span style="text-decoration:underline; font-weight:900;">myrigname</span> --pass x --port {{= Object.keys(it.poolsConfigs[Object.keys(it.poolsConfigs)[0]].ports)[0] }} --fee 0 --pec --templimit 70 --intensity 50
                </code>
                <code style="word-break:break-all;">
                    <b><em>BMINER</em></b><br>
                    bminer -uri stratum://zs1gfnu0j84arzuv4dauryyvys07m0p5vwd8grl4whz08y769jmzj7zar84hewngtgskce4vex4udc.<span style="text-decoration:underline; font-weight:900;">myrigname</span>@{{=it.portalConfig.website.stratumHost}}:{{= Object.keys(it.poolsConfigs[Object.keys(it.poolsConfigs)[0]].ports)[0] }} -max-temperature 70 -nofee
                </code>
            {{ } }}
        </div>

        <div class="menuHeader" id="payments">Payments</div>
        <div class="content">
            On the sapling pool, payouts should take anywhere from 10 to 30 minutes.<br><br>
            There is a limit of 200 receipients that can be included in a payout, hence the high min payout set on the pool.  If payments stop going out, do not worry! Funds are safu! Blocks can still be found and will be credited to your username!<br><br>
            Most likely the min payout of the pool needs to be adjusted upwards. Please check the <a href="https://discord.gg/5f7p3vx">#pools-and-operators channel in discord</a> to see if it's already being worked on. <br><br>
            The longer it takes to make a payout, the more people meet the min payout making the following payout take longer. If you scroll down the payments page compare the number of miners paid versus the time between payments and you will see the correlation.<br><br>
            Pending is supposed to be time to maturity before a block gets paid which I have set to 10 to try to coincide with dPoW, but I have doubts this is working right and believe it's just a visual change (need to verify this in the code)<br><br>
            Immature and balance on your worker stats page are the unpaid balances accrued from previous payout rounds, it does not count blocks that have not yet been attempted to be paid by the pool<br><br>
            Payments that show up on the payments page initially are in the process of constructing the z transaction, once it actually broadcasts the transaction it will switch to being hyperlinked and then should arrive in miners' wallets in the next block or two.
        </div>

        <div class="menuHeader" id="createWallet">Generate Wallet and Address</div>
        <div class="content">
            <a href="https://pirate.black/wallets/" target="_blank" rel="noopener noreferrer">GUI Wallet for PIRATE</a> is available. For Agama support please visit <a href="https://discord.gg/5f7p3vx">#newpirates and #agama-wallet on Discord</a><br><br>

            CLI Wallet:
            <ol>
                <li><a href="https://docs.komodoplatform.com/komodo/install-Komodo-manually.html" target="_blank">Build Komodo</a></li>
                <li>Launch PIRATE chain:
                    <code>
                        ./komodod -ac_name=PIRATE -ac_supply=0 -ac_reward=25600000000 -ac_halving=77777 -ac_private=1 -addnode=136.243.102.225
                    </code>
                </li>
                <li>Generate Z address:
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_getnewaddress
                    </code>
                </li>
                <li>Securely backup your private key:
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_exportkey "zaddr"
                    </code>
                </li>
                <li>Check your balance:
                    <code>
                        ./komodo-cli -ac_name=PIRATE z_gettotalbalance
                    </code>
                <li>
                    For more information visit the <a href="https://pirate.black/" target="_blank">project website</a>
                </li>
            </ol>
        </div>

        <div class="menuHeader" id="gpuMining">GPU Mining</div>
        <div class="content">
            <p>
                There are a few decent GPU miners available. You will need to experiment to find which one works best for you.  DYOR on this and be sure to virus scan all the things!
            </p>
            <p>
                Here are a couple well-known GPU miners:
            </p>
            <ul>
                <li><a href="https://bitcointalk.org/index.php?topic=2021765.0" target="_blank" rel="noopener noreferrer">dstm's ZCash / Equihash Nvidia Miner</a></li>
                <li><a href="https://bitcointalk.org/index.php?topic=1707546.0" target="_blank" rel="noopener noreferrer">EWBF's CUDA Zcash miner 0.3.4b</a></li>
                <li><a href="https://www.bminer.me/releases/" target="_blank" rel="noopener noreferrer">Bminer Lite</a></li>
                <li><a href="https://bitcointalk.org/index.php?topic=1670733.0" target="_blank" rel="noopener noreferrer">Claymore's ZCash/BTG AMD GPU Miner</a></li>
            </ul>
        </div>

        <div class="menuHeader" id="cpuMining">CPU Mining</div>
        <div class="content">
            <p>While it is possible to CPU mine with <b>komodod</b> directly like so:</p>
            <code>
                ./komodo-cli -ac_name=PIRATE setgenerate true
            </code>
            <p>The chances to find a block solo with CPU mining only are already fairly low and most likely the reason you are here at all 🐸</p>
            <p>The well-known CPU miner that can be used with the pool is <b>nheqminer</b>. This does <i>not</i> require a Nicehash account and can be used to connect to any equihash stratum.</p>

            <h4>Linux</h4>
            <p>It is suggested that you attempt to build the CPU miner instead of using the pre-compiled binary so that optimizations for your CPU can be made during the build process</p>
            <code>
                sudo apt-get install cmake build-essential libboost-all-dev<br>
                cd ~<br>
                git clone -b Linux https://github.com/nicehash/nheqminer.git<br>
                cd ~/nheqminer/cpu_xenoncat/Linux/asm/<br>
                sh assemble.sh<br>
                cd /home/zcash/nheqminer/Linux_cmake/nheqminer_cpu<br>
                cmake . && make<br>
                ln -s /home/zcash/nheqminer/Linux_cmake/nheqminer_cpu/nheqminer_cpu /usr/local/bin/nheqminer_cpu
            </code>
            <p>Now you can launch your miner! (replace the values as indicated changing the number of threads (-t) and your address for payouts (-u)</p>
            <code>
                nheqminer_cpu -t <i>numberofthreads</i> -l <i>stratumhost</i>:<i>stratumport</i> -u <i>youraddress</i>
            </code>

            <h4>Windows</h4>
            <p>Download and install the latest release for windows from <a href="https://github.com/nicehash/nheqminer/releases" target="_blank" rel="noopener noreferrer">the github repo</a></p>
            <p>Replace the placeholders below as needed and start mining!</p>
            <code>
                nheqminer -t <i>numberofthreads</i> -l <i>stratumhost</i>:<i>stratumport</i> -u <i>youraddress</i>
            </code>

            <h4>Additional Resources</h4>
            <ul>
                <li><a href="https://github.com/nicehash/nheqminer" target="_blank" rel="noopener noreferrer">nheqminer repo</a></li>
                <li><a href="https://steemit.com/mining/@bobinson/zcash-cpu-mining-setup-on-linux" target="_blank" rel="noopener noreferrer">CPU Mining</a></li>
            </ul>
        </div>
    </div>
</div>

{{ if (it.portalConfig.gettingStartedPopups) { }}
    <a href="#" id="coinInfoBackground" class="hidden"></a>

    <div id="coinInfo" class="hidden">
        <a href="#" id="coinInfoClose">×</a>
        <div><span class="coinInfoName"></span> Configuration:</div>
        <div id="coinInfoRows">
            <div id="coinInfoRowKeys">
                <div>Username:</div>
                <div>Password:</div>
            </div>
            <div id="coinInfoRowValues">
                <div id="coinInfoUsername"></div>
                <div>anything</div>
            </div>
        </div>
    </div>

    <script>
        function showCoinConfig(info){

            var htmlKeys = '<div class="coinInfoData">Algorithm:</div>';
            var htmlValues = '<div class="coinInfoData">' + info.algo + '</div>';

            for (var port in info.ports){
                htmlKeys += '<div class="coinInfoData">URL <span class="coinInfoSubtle">(difficulty ' + info.ports[port].diff + ')</span>:</div>';
                htmlValues += '<div class="coinInfoData">stratum+tcp://' + info.host + ':' + port + '</div>';
            }

            if (info.coin && info.coin.privateChain) {
                $('#coinInfoUsername').html('your ' + info.coin.name + ' <b style="color:#C99631;">Z</b> wallet address');
            } else if (info.coin) {
                $('#coinInfoUsername').text('your ' + info.coin.name + ' wallet address');
            } else {
                $('#coinInfoUsername').text('your public key');
            }
            $('.coinInfoData').remove();
            $('#coinInfoRowKeys').append(htmlKeys);
            $('#coinInfoRowValues').append(htmlValues);
        }

        $('.poolOption').click(function(event){
            event.preventDefault();
            showCoinConfig($(this).data('info'));
            $('#coinInfoBackground,#coinInfo').removeClass('hidden');
            $('#coinInfoBackground').css('opacity', 0.7);
            return false;
        });

        $('#coinInfoBackground,#coinInfoClose').click(function(event){
            event.preventDefault();
            $('#coinInfoBackground,#coinInfo').addClass('hidden');
            $('#coinInfoBackground').css('opacity', 0.0);
            return false;
        });
    </script>
{{ } }}
