<div id="topCharts">
    <div class="chartWrapper">
        <div class="chartLabel">Pool Historical Hashrate</div>
        <div class="chartHolder"><svg id="poolHashrate"></svg></div>
    </div>
</div>

{{ function capitalizeFirstLetter(t){return t.charAt(0).toUpperCase()+t.slice(1)} }}
{{ function readableDate(a){ return new Date(parseInt(a)).toString(); } }}

<div class="pure-g-r" id="boxesLower">
    {{ for(var pool in it.stats.pools) { }}
        <div class="pure-u-1-2">
            <div class="boxStats" id="boxStatsLeft">
                <div class="boxLowerHeader">{{=it.stats.pools[pool].name}} Pool Stats</div>
                <div class="boxStatsList">
                    <div>
                        <div><i class="fas fa-users fa-fw"></i> <span id="statsMiners{{=pool}}">{{=it.stats.pools[pool].minerCount}}</span> Miners</div>
                        <div><i class="fas fa-rocket fa-fw"></i> <span id="statsWorkers{{=pool}}">{{=it.stats.pools[pool].workerCount}}</span> Workers</div>
                        <div><i class="fas fa-tachometer-alt fa-fw"></i> <span id="statsHashrate{{=pool}}">{{=it.stats.pools[pool].hashrateString}}</span> (Now)</div>
                        <div><i class="fas fa-tachometer-alt fa-fw"></i> <span id="statsHashrateAvg{{=pool}}">...</span> (Avg)</div>
                        <div><i class="fas fa-dice fa-fw"></i> Luck <span id="statsLuckDays{{=pool}}">{{=it.stats.pools[pool].luckDays}}</span> Days</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-u-1-2">
            <div class="boxStats" id="boxStatsRight">
                <div class="boxLowerHeader">{{=it.stats.pools[pool].name}} Network Stats</div>
                <div class="boxStatsList">
                    <div>
                        <div><i class="fas fa-link fa-fw" aria-hidden="true"></i> Block Height: <span id="statsNetworkBlocks{{=pool}}">{{=it.stats.pools[pool].poolStats.networkBlocks}}</span></div>
                        <div><i class="fas fa-tachometer-alt fa-fw"></i> Network Hash/s: <span id="statsNetworkSols{{=pool}}">{{=it.stats.pools[pool].poolStats.networkSolsString}}</span></div>
                        <div><i class="fas fa-unlock-alt fa-fw" aria-hidden="true"></i> Difficulty: <span id="statsNetworkDiff{{=pool}}">{{=it.stats.pools[pool].poolStats.networkDiff}}</span></div>
                        <div><i class="fas fa-users fa-fw"></i> Node Connections: <span id="statsNetworkConnections{{=pool}}">{{=it.stats.pools[pool].poolStats.networkConnections}}</span></div>
                    </div>
                </div>
            </div>
        </div>
	{{ } }}
</div>

{{ for(var pool in it.stats.pools) { }}
    {{ var blockscomb = new Array; }}
    <div class="pure-g-r" id="boxesLower">
        <div class="pure-u-1-1">
            <div class="boxStats" id="boxStatsRight">
                <div class="boxLowerHeader">{{=it.stats.pools[pool].name}} Blocks Found &nbsp;&nbsp;
                    <span style="float:right;"><small>
                    <i class="fas fa-link fa-fw"></i> <span id="statsValidBlocks{{=pool}}">{{=it.stats.pools[pool].poolStats.validBlocks}}</span> Blocks &nbsp;&nbsp;
                    <i class="fas fa-money-bill-wave fa-fw"></i> Paid: <span id="statsTotalPaid{{=pool}}">{{=(parseFloat(it.stats.pools[pool].poolStats.totalPaid)).toFixed(8)}}</span> {{=it.stats.pools[pool].symbol}}</small>&nbsp;&nbsp;</span>
                </div>

                <div class="boxStatsList" style="margin-top: 9px;">
                    <!--<div id="{{=it.stats.pools[pool].name}}NewBlocks"></div>-->
                    {{ for(var b in it.stats.pools[pool].pending.blocks) { }}
                        {{ var block = it.stats.pools[pool].pending.blocks[b].split(":"); }}
                        <div style="margin-bottom: 9px; background-color: #773938; min-width:600px;">
                            <div>
                                <i class="fas fa-link fa-fw"></i>
                                <small>Block:</small>
                                {{if (String(it.stats.pools[pool].name).startsWith("zcash")) { }}
                                    <a href="https://explorer.zcha.in/blocks/{{=block[0]}}" target="_blank">{{=block[2]}}</a>
                                {{ } else if (String(it.stats.pools[pool].name).startsWith("zclassic")) { }}
                                    <a href="https://classic.zcha.in/blocks/{{=block[0]}}" target="_blank">{{=block[2]}}</a>
                                {{ } else if (String(it.stats.pools[pool].name).startsWith("hush")) { }}
                                    <a href="https://explorer.myhush.org/block/{{=block[0]}}" target="_blank">{{=block[2]}}</a>
                                {{ } else { }}
                                    {{=block[2]}}
                                {{ } }}

                                {{if (block[4] != null) { }}
                                    <span style="padding-left: 18px;"><small>{{=readableDate(block[4])}}</small></span>
                                {{ } }}
                                {{if (it.stats.pools[pool].pending.confirms) { }}
                                    {{if (it.stats.pools[pool].pending.confirms[block[0]]) { }}
                                    <span style="float:right; color: red;"><small>{{=it.stats.pools[pool].pending.confirms[block[0]]}} of 100</small></span>
                                    {{ } else { }}
                                    <span style="float:right; color: red;"><small>*PENDING*</small></span>
                                    {{ } }}
                                {{ } else { }}
                                    <span style="float:right; color: red;"><small>*PENDING*</small></span>
                                {{ } }}
                            </div>
                            <div><i class="fas fa-crown fa-fw"></i> <small>Mined By:</small> <a href="/workers/{{=block[3].split('.')[0]}}">{{=block[3].length > 40 ? block[3].substring(0, 20) + '...' + block[3].substring(block[3].length-20, block[3].length): block[3]}}</a></div>
                        </div>
                        {{ blockscomb.push(block);}}
                    {{ } }}

                    {{ var i=0; for(var b in it.stats.pools[pool].confirmed.blocks) { }}
                        {{ if (i < 8) { i++; }}
                            {{ var block = it.stats.pools[pool].confirmed.blocks[b].split(":"); }}
                            <div style="margin-bottom: 9px; background-color: #C99631; min-width:600px;">
                                <div>
                                    <i class="fas fa-link fa-fw"></i>
                                    <small>Block:</small>
                                    {{if (String(it.stats.pools[pool].name).startsWith("zcash")) { }}
                                        <a href="https://explorer.zcha.in/blocks/{{=block[0]}}" target="_blank">{{=block[2]}}</a>
                                    {{ } else if (String(it.stats.pools[pool].name).startsWith("zclassic")) { }}
                                        <a href="https://classic.zcha.in/blocks/{{=block[0]}}" target="_blank">{{=block[2]}}</a>
                                    {{ } else { }}
                                        {{=block[2]}}
                                    {{ } }}
                                    {{if (block[4] != null) { }}
                                        <span style="padding-left: 18px;"><small>{{=readableDate(block[4])}}</small></span>
                                    {{ } }}
                                    <span style="float:right; padding-left: 18px; color: green;"><small>*PAID*</small></span>
                                </div>
                                <div><i class="fas fa-crown fa-fw"></i> <small>Mined By:</small> <a href="/workers/{{=block[3].split('.')[0]}}">{{=block[3].length > 40 ? block[3].substring(0, 20) + '...' + block[3].substring(block[3].length-20, block[3].length): block[3]}}</a></div>
                            </div>
                            {{blockscomb.push(block);}}
                        {{ } }}
                    {{ } }}

                </div>
            </div>
        </div>
    </div>

    {{if (blockscomb.length > 0) { }}
        <div id="bottomCharts{{=pool}}" style="text-align:center;" align="center">
            <div class="chartWrapper" style="text-align:center;">
                <div class="chartLabel">Finders of the last {{=blockscomb.length}} blocks</div>
                <div class="chartHolder" id="pie{{=pool}}"><svg id="blocksPie{{=pool}}" style="display: block; margin: auto; text-align:center;"/></div>
                <div class="hidden tooltip" id="tooltip{{=pool}}"><p><span id="value{{=pool}}"></span> blocks found by <span id="finderr{{=pool}}"></span></p></div>
            </div>
        </div>

        <script>
        var blockscomb = ({{=JSON.stringify(blockscomb)}})
        var groupedByFinder = {};
        var data = [];

        for (var i=0; i < blockscomb.length; i++) {
            finder=blockscomb[i][3]; // if other doesn 't already have a property for the current letter
            // create it and assign it to a new empty array
            if (!(finder in groupedByFinder))
                groupedByFinder[finder] = [];

            groupedByFinder[finder].push(blockscomb[i]);
        }

        Object.keys(groupedByFinder).forEach(function(i) {
            var obj = {};
            obj.label = i
            obj.value = groupedByFinder[i].length
            data.push(obj)
        });

        //console.log(JSON.stringify(data))

        var w = 1000;
        var h = 500;
        var r = h/2.5;
        var legendRectSize = 18;
        var legendSpacing = 5;

        var color = d3.scale.category20c();
        /*var div = d3.select("#pie{{=pool}}").append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);*/

        var vis = d3.select('#blocksPie{{=pool}}')
            .data([data])
            .attr("width", w)
            .attr("height", h)
            .attr("style", "display: block; margin: auto; width:800px; height: auto; display:inline-block")
            .attr("preserveAspectRatio", "xMidYMin")
            .append("svg:g")
            .attr("transform", "translate(" + r + "," + r + ")");


        var pie = d3.layout.pie().value(function(d){return d.value;});

        // declare an arc generator function
        var arc = d3.svg.arc().outerRadius(r);

        // select paths, use arc generator to draw
        var arcs = vis.selectAll("g.slice{{=pool}}")
            .data(pie)
            .enter()
            .append("svg:g")
            .attr("class", "slice{{=pool}}")
            .attr("id", "slice")
            .on("mouseover", function(d){
                d3.select("#tooltip{{=pool}}")
                    .attr("style", "left:" + (d3.event.layerX) + "px; top:" + (d3.event.layerY) + "px; opacity:1; display:block!important;position:absolute")
                    .select("#value{{=pool}}")
                    .text(d.data.value);
                d3.select("#tooltip{{=pool}}")
                    .select("#finderr{{=pool}}")
                    .text(d.data.label.length > 40 ? d.data.label.substring(0, 20) + '...' + d.data.label.substring(d.data.label.length-20, d.data.label.length): d.data.label);
            })
            .on("mouseout", function(d) {
                d3.select("#tooltip{{=pool}}")
                    .attr("style", "");
            })
            .on('mousemove', function(d) {
                d3.select("#tooltip{{=pool}}")
                    .style('top', (d3.event.layerY) + 'px')
                    .style('left', (d3.event.layerX) + 'px');
            });

        arcs.append("svg:path")
            .attr("fill", function(d, i){
            return color(i);
            })
            .attr("d", function (d) {
            return arc(d);
            });

        var legend = vis.selectAll('.legend')
            .data(color.domain())
            .enter()
            .append('g')
            .attr('class', 'legend')
            .attr('id', {{=JSON.stringify(pool)}})
            .attr('transform', function(d, i) {
                var height = legendRectSize + legendSpacing;
                var offset = height * color.domain().length / 2;
                var horz = 13 * legendRectSize;
                var vert = (i * height) - r + height;
                return 'translate(' + horz + ',' + vert + ')';
            });

        legend.append('rect')
            .attr('width', legendRectSize)
            .attr('height', legendRectSize)
            .style('fill', color)
            .style('stroke', color);

        legend.append('text')
            .attr('x', legendRectSize + legendSpacing)
            .attr('y', legendRectSize - legendSpacing)
            .text(function(d, i) {
                return data[i].label.length > 40 ? data[i].label.substring(0, 20) + '...' + data[i].label.substring(data[i].label.length-20, data[i].label.length): data[i].label;
            });
        </script>
    {{ } }}
{{ } }}

<script>
    document.querySelector('main').appendChild(document.createElement('script')).src = '/static/stats.js';

    $(function() {
        window.statsSource = new EventSource("/api/live_stats");

        statsSource.addEventListener('message', function (e) {
            var stats = JSON.parse(e.data);
            for (var pool in stats.pools) {
				$('#statsMiners' + pool).text(stats.pools[pool].minerCount);
                $('#statsWorkers' + pool).text(stats.pools[pool].workerCount);
                $('#statsHashrate' + pool).text(stats.pools[pool].hashrateString);
				$('#statsHashrateAvg' + pool).text(getReadableHashRateString(calculateAverageHashrate(pool)));
				$('#statsLuckDays' + pool).text(stats.pools[pool].luckDays);
				$('#statsValidBlocks' + pool).text(stats.pools[pool].poolStats.validBlocks);
				$('#statsTotalPaid' + pool).text((parseFloat(stats.pools[pool].poolStats.totalPaid)).toFixed(8));
				$('#statsNetworkBlocks' + pool).text(stats.pools[pool].poolStats.networkBlocks);
				$('#statsNetworkDiff' + pool).text(stats.pools[pool].poolStats.networkDiff);
				$('#statsNetworkSols' + pool).text(getReadableNetworkHashRateString(stats.pools[pool].poolStats.networkSols));
				$('#statsNetworkConnections' + pool).text(stats.pools[pool].poolStats.networkConnections);
            }
        });
    });

	function getReadableNetworkHashRateString(hashrate){
		hashrate = (hashrate * 1000000);
		if (hashrate < 1000000)
			return '0 Sol';
		var byteUnits = [ ' Sol/s', ' KSol/s', ' MSol/s', ' GSol/s', ' TSol/s', ' PSol/s' ];
		var i = Math.floor((Math.log(hashrate/1000) / Math.log(1000)) - 1);
		hashrate = (hashrate/1000) / Math.pow(1000, i + 1);
		return hashrate.toFixed(2) + byteUnits[i];
	}
</script>
